<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de mascotas</title>
</head>
<body>
    <a href="{{ url_for('static', filename='frontend/create_pet.html')}}">Crear mascota</a>
</body>
</html>