<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- jquery para poder hacer get, post, etc... de forma fácil-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Crear mascota</title>
</head>

<body>
    <div id="app">
        <input name="name" v-model="name" type="text" placeholder="Nombre">
        <input name="birthdate" v-model="birthdate" type="date" placeholder="Fecha de nacimiento">
        <select name="species" v-model="selected_species">
            <option v-for="s in species" v-bind:value="s.id">{{ s.name }}</option>
        </select>
        <input type="button" value="Crear mascota" v-on:click="createPet">
    </div> <!-- fin del html de la app -->
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                name: null,
                birthdate: null,
                species: [],
                selected_species: null,
            },
            methods: {
                createPet: function () {
                    var self = this;
                    $.ajax({
                        url: '/api/pets',
                        type: 'POST',
                        data: JSON.stringify({
                            name: self.name,
                            birthdate: self.birthdate,
                            species_id: self.selected_species,
                        }),
                        dataType: "json",
                        contentType: 'application/json',
                    });
                },
                getSpecies: function () {
                    $.getJSON({
                        url: '/api/species',
                        success: function (data) {
                            // Asignar el arreglo directamente no actualiza el select
                            // hay que usar los métodos como push
                            // https://vuejs.org/v2/guide/list.html#Array-Change-Detection
                            for (s of data) {
                                app.species.push(s);
                            }
                        }
                    })
                }
            },
            mounted() {
                this.getSpecies();
            }
        });

    </script>
</body>

</html>